

.container {
    position: absolute;
    top:0;
    left:0;
    right:0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    background-image: url(./desktopBanner.jpeg);
    height: 100%;
    width: 100%;
    grid-template-areas:
    "main-text main-text"
    "sub-text sub-text"
    "logo logo"
    ;
    overflow: hidden;
}

.coming-soon{
    grid-area: main-text;
    width: 55%;
    margin-top: 5%;
    margin-left: 5%;
}

.coming-soon > h1{
    color: #fdd935;
    font-family: 'Work Sans';
    font-weight: bold;
    font-size: 132px;
    line-height: 95%;
    margin-top: auto;
}

.coming-soon > p{
    font-size: 36px;
    color: #ffffff;
    font-family: 'Work Sans';
    grid-area: sub-text;
    margin-top: -5%;
}

.logo {
    grid-area: logo;
    margin-top: auto;
    margin-left:5%;
    margin-bottom: 10%;
    width: 20%;
    height: auto;
}

@media (max-width: 650px) {
    .container {
        background-image: url(./mobileBanner.jpeg);
        width: 100%;
    }
    .coming-soon {
        font-size: 32px;
    }
    .sub-text {
        font-size: 12px;
        
    }

    .logo {
        margin-bottom: auto;
        margin-top: -50%;
        width: 30%;
    }
}